.Botones {
  margin-left: 1px;
}
.Produc1 {
  width: 10rem;
  height: 19rem;
}
.aguacate {
  width: 150px;
  height: 150px;
}
.Produc2 {
  width: 10rem;
  height: 19rem;
}
.banano {
  width: 150px;
  height: 150px;
}
.Produc3 {
  width: 10rem;
  height: 19rem;
}
.brocoli {
  width: 150px;
  height: 150px;
}
.Produc4 {
  width: 10rem;
  height: 19rem;
}
.fresas {
  width: 150px;
  height: 150px;
}
.Produc5 {
  width: 10rem;
  height: 19rem;
}
.lechuga {
  width: 150px;
  height: 150px;
}
.Produc6 {
  width: 10rem;
  height: 19rem;
}
.limon {
  width: 150px;
  height: 150px;
}

.Produc7 {
  width: 10rem;
  height: 19rem;
}
.maduro {
  width: 150px;
  height: 150px;
}
.Produc8 {
  width: 10rem;
  height: 19rem;
}
.mango {
  width: 150px;
  height: 150px;
}
.Produc9 {
  width: 10rem;
  height: 19rem;
}
.papas {
  width: 150px;
  height: 150px;
}
.Produc10 {
  width: 10rem;
  height: 19rem;
}
.pepino {
  width: 150px;
  height: 150px;
}
.Produc11 {
  width: 10rem;
  height: 19rem;
}
.piña {
  width: 150px;
  height: 150px;
}
.Produc12 {
  width: 10rem;
  height: 19rem;
}
.sandia {
  width: 150px;
  height: 150px;
}
.Produc13 {
  width: 10rem;
  height: 19rem;
}
.tomatearbol {
  width: 150px;
  height: 150px;
}
.Produc14 {
  width: 10rem;
  height: 19rem;
}
.tomates {
  width: 150px;
  height: 150px;
}
.Produc15 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.verde {
  width: 150px;
  height: 150px;
}
.Produc16 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.yuca {
  width: 150px;
  height: 150px;
}
.Produc17 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.zanahoria {
  width: 150px;
  height: 150px;
}
