.Botones {
  margin-left: 1px;
}
.Produc1 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.argollitas{
  width: 150px;
  height: 150px;
}
.Produc2 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.arroz{
  width: 150px;
  height: 150px;
}
.Produc3 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.arveja{
  width: 150px;
  height: 150px;
}
.Produc4 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.blanquillo {
  width: 150px;
  height: 150px;
}
.Produc5 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.cabelloangel {
  width: 150px;
  height: 150px;
}
.Produc6 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.concha {
  width: 150px;
  height: 150px;
}

.Produc7 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.espaguetis{
  width: 150px;
  height: 150px;
 
}
.Produc8 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.frijoles {
  width: 150px;
  height: 150px;
}
.Produc9 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.frijolesblancos {
  width: 150px;
  height: 150px;
}
.Produc10 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.garbanzo {
  width: 150px;
  height: 150px;
}
.Produc11 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.lentejas {
  width: 150px;
  height: 150px;
}
.Produc12 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.letras{
  width: 150px;
  height: 150px;
}
.Produc13 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.macarron{
  width: 150px;
  height: 150px;
}
.Produc14 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.tornillo{
  width: 150px;
  height: 150px;
}
