
.Botones {
  margin-left: 2px;
}
.Produc1 {
  width: 10rem;
  height: 19rem;
}
.unico {
  width: 150px;
  height: 150px;
}
.Produc2 {
  width: 10rem;
  height: 19rem;
}
.axion {
  width: 150px;
  height: 150px;
}
.Produc3 {
  width: 10rem;
  height: 19rem;
}
.cepillo1 {
  width: 150px;
  height: 150px;
}
.Produc4 {
  width: 10rem;
  height: 19rem;
}
.cepillo2 {
  width: 150px;
  height: 150px;
}
.Produc5 {
  width: 10rem;
  height: 19rem;
}
.coco {
  width: 150px;
  height: 150px;
}
.Produc6 {
  width: 10rem;
  height: 19rem;
}
.colgate {
  width: 150px;
  height: 150px;
}

.Produc7 {
  width: 10rem;
  height: 19rem;
}
.escoba {
  width: 150px;
  height: 150px;
}
.Produc8 {
  width: 10rem;
  height: 19rem;
}
.esponjabriilo1 {
  width: 150px;
  height: 150px;
}
.Produc9 {
  width: 10rem;
  height: 19rem;
}
.esponjatrastes {
  width: 150px;
  height: 150px;
}
.Produc10 {
  width: 10rem;
  height: 19rem;
}
.esponjabrillo2 {
  width: 150px;
  height: 150px;
}
.Produc11 {
  width: 10rem;
  height: 19rem;
}
.fab {
  width: 150px;
  height: 150px;
}
.Produc12 {
  width: 10rem;
  height: 19rem;
}
.fabuloso {
  width: 150px;
  height: 150px;
}
.Produc13 {
  width: 10rem;
  height: 19rem;
}
.guantes {
  width: 150px;
  height: 150px;
}
.Produc14 {
  width: 10rem;
  height: 19rem;
}
.jabonbaño {
  width: 150px;
  height: 150px;
}
.Produc15 {
  width: 10rem;
  height: 19rem;
}
.jabonmanos {
  width: 150px;
  height: 150px;
}
.Produc16 {
  width: 10rem;
  height: 19rem;
}
.limpido {
  width: 150px;
  height: 150px;
}
.Produc17 {
  width: 10rem;
  height: 19rem;
}
.papel {
  width: 150px;
  height: 150px;
}
.Produc18 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.recogedor {
  width: 150px;
  height: 150px;
 
}
.Produc19 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.rey {
  width: 150px;
  height: 150px;
}
.Produc20 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.shampoo {
  width: 10rem;
  height: 10rem;
}
.Produc21 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.trapiadorta {
  width: 150px;
  height: 150rem;
}
