
.Botones {
  margin-left: 1px;
}
.Produc1 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
  
}
.colanta{
  width: 150px;
  height: 150px;
}
.Produc2 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.cuajada{
  width: 150px;
  height: 150px;
}
.Produc3 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.danone{
  width: 150px;
  height: 150px;
}
.Produc4 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.griego {
  width: 150px;
  height: 150px;
}
.Produc5 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.huevos {
  width: 150px;
  height: 150px;
}
.Produc6 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.lafina {
  width: 150px;
  height: 150px;
  
}

.Produc7 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.lonchitas{
  width: 150px;
  height: 150px;
}
.Produc8 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.proleche {
  width: 150px;
  height: 150px;
}
.Produc9 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.quesito {
  width: 150px;
  height: 150px;
}
.Produc10 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.quesocrema {
  width: 150px;
  height: 150px;
}
.Produc11 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.yogur {
  width: 150px;
  height: 150px;
}
.Produc12 {
  width: 10rem;
  height: 19rem;
  margin: 0em auto;
}
.yogurbolsa {
  width: 150px;
  height: 150px;
}